$background-white: #faf6ed;
$dark-yellow: #FB5;
$black: #222;

body {
    background: $background-white;
    color: #222;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}
